<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <h1><%= title %></h1>

    <div>
      <% for(let i = 0; i <= data.length; i++) { %>
        <h2><%= data[i].region %></h2>
        <p><u>Walk :</u> <%= data[i].transportation.walk %></p>
        <hr/>
      <% } %>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>